.retorno{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 10rem;
    
}

 .retorno__input{
    text-align: center;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    width: 6rem;


} 
.retorno__button{
    background-color: #F9B902;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    width: 6.5rem;
}

.retorno__conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;

}