.comanda{
    border: 0.3rem solid rgba(0, 0, 0, 0.745);
    width: 75%;
    margin: 2rem;
    border-radius: 0.7rem;
    display: none;
}

.seletor{
    display: block;
}

.comanda__titulo{
    text-align: center;
}
