.comanda{
    border: 0.5rem solid black;
    margin: 4rem;
    border-radius: 2rem;
<<<<<<< HEAD
    display: none;
}

.seletor    {
    display: block;
}
=======
    padding: 1rem;
    padding-left: 0.8rem;
}
>>>>>>> 8556aaef4f1c188ef36d70849e117277a14178a7
