.card   {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #2E302F;
    border-radius: 2rem;
    
}

.card__sobre    {
    padding: 1.5rem;
}

.card__sobre--titulo    {
    color: #F9B209;
    margin-bottom: 1rem;
}

.card__sobre--conteudo  {
    color: #fdfdfd;
}

.card__imagem{

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.card__preco{
    color: #fdfdfd;
    margin-bottom: 1rem;
    font-size: 2rem;


}

.seletor    {
    display: none;
}
